.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

body {
  position: relative;
  padding-top: 56px;
}

.navbar {
  background-color: #660000;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #FFFF99;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
  color: #fff;
  cursor: default;
  background-color: #990000;
}